1. This is a project to classify cat and dog voices using PyTorch.
2. For this, it converts the audio files to spectrograms and then uses the spectrograms to train the model.
3. The final purpose of this project is to develop the model to classify cat voice or not in the inputted audio. (it doesn't matter aother voice is dog or not, it is only for check the cat voice or not)